* {
	-webkit-tap-highlight-color: rgba(128, 128, 128, 0.5);
	font-family: 'WenQuanYi Micro Hei Mono', 'WenQuanYi Micro Hei', 'Microsoft Yahei Mono', 'Microsoft Yahei', sans-serif;
}
html {
	height: 100%;
}
body, ul {
	margin: 0;
	padding: 0;
}

ul {
	list-style: none;
}
button {
	background-color: transparent;
	border: none;
	cursor: pointer;
	font-size: 100%;
	background-image: none;
}
a {
	color: #333;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}

.hidden {
	display: none;
}
.block {
	display: block;
}
.absolute {
	position: absolute;
}
.fixed {
	position: fixed;
}
.full-width {
	width: 100%;
}
.full-height {
	height: 100%;
}
.inline-block {
	display: inline-block;
}
.no-wrap {
	white-space: nowrap;
}
.no-overflow {
	overflow: hidden;
}
.no-opacity {
	opacity: 0;
}
.no-margin {
	margin: 0;
}
.half-opacity {
	opacity: 0.5;
}
.full-opacity {
	opacity: 1;
}
.float-left {
	float: left;
}
.float-right {
	float: right;
}
.abs-left {
	left: 0;
}
.abs-right {
	right: 0;
}
.abs-top {
	top: 0;
}
.abs-bottom {
	bottom: 0;
}
.left-top {
	left: 0;
	top: 0;
}
.right-top {
	right: 0;
	top: 0;
}
.left-bottom {
	left: 0;
	bottom: 0;
}
.text-center {
	text-align: center;
}
.text-ellipsis {
	text-overflow: ellipsis;
}
.cursor-hand {
	cursor: pointer;
}
.bold {
	font-weight: bold;
}
.big {
	font-size: 105%;
}
.gray {
	color: #aaa;
}
.white {
	color: white;
}
.bg-white {
	background-color: white;
}
.bg-black {
	background-color: black;
}
.bg-gray {
	background-color: #eee;
}

.anim-all {
	-webkit-transition: all .4s ease;
	-moz-transition: all .4s ease;
	-ms-transition: all .4s ease;
	transition: all .4s ease;
	-webkit-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-moz-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
}
.anim-opacity {
	-webkit-transition: opacity .4s ease;
	-moz-transition:  opacity .4s ease;
	-ms-transition:  opacity .4s ease;
	transition: opacity .4s ease;
}
.anim-transform {
	-webkit-transition: -webkit-transform .4s ease;
	-ms-transition: -ms-transform .4s ease;
	-moz-transition: -moz-transform .4s ease;
	transition: transform .4s ease;
}
.anim-in-1s {
	-webkit-transition-duration: 1s;
	-moz-transition-duration: 1s;
	-ms-transition-duration: 1s;
	transition-duration: 1s;
}

@-ms-viewport {
	width: device-width;
}

/*
 * layout
 */
.head {
	position: absolute;
	z-index: 3;
	left: 0;
	right: 0;
	top: 0;
	height: 44px;
	line-height: 44px;
}
.main {
	position: absolute;
	z-index: 1;
	overflow-x: hidden;
	overflow-y: auto;
	left: 0;
	right: 0;
	top: 45px;
	bottom: 0;
}
.foot {
	position: absolute;
	z-index: 1;
	overflow: hidden;
	left: 0;
	right: 0;
	bottom: 0;
	line-height: 44px;
	height: 0; /*-- initial hidden --*/
}
.tool {
	position: absolute;
	z-index: 3;
	overflow: hidden;
	left: 0;
	right: 0;
	top: 0;
}
.player {
	position: absolute;
	z-index: 2;
	overflow: hidden;
	left: 0;
	right: 0;
	bottom: 0;
}

/* narrow view */
@media only screen and (max-width: 620px) {
.hide-too-narrow {
	display: none;
}

.tool {
	margin-top: -321px;
	height: 320px;
}
.player {
	position: fixed;
	height: 90px;
	-webkit-transform: translateY(90px);
	-ms-transform: translateY(90px);
	-moz-transform: translateY(90px);
	transform: translateY(90px);
}
.overlay {
	width: 100%;
	position: absolute;
	background-color: black;
	z-index: 2;
	height: 1px;
	opacity: 0;
	-webkit-animation: fade-out 0.4s;
	-ms-animation: fade-out 0.4s;
	-moz-animation: fade-out 0.4s;
	animation: fade-out 0.4s;
}
.show-tool .tool, .show-tool .head {
	-webkit-transform: translateY(320px);
	-ms-transform: translateY(320px);
	-moz-transform: translateY(320px);
	transform: translateY(320px);
}
.show-tool .tool {
	overflow: auto;
}
.show-tool .player {
	-webkit-transform: translateY(0);
	-ms-transform: translateY(0);
	-moz-transform: translateY(0);
	transform: translateY(0);
}
.show-tool .overlay {
	height: 100%;
	opacity: 0.6;
	-webkit-animation: fade-in 0.4s;
	-ms-animation: fade-in 0.4s;
	-moz-animation: fade-in 0.4s;
	animation: fade-in 0.4s;
}
}
/* wide view */
@media only screen and (min-width: 621px) {
.hide-too-wide {
	display: none;
}

.main, .foot {
	width: 50%;
	right: auto;
}
.tool {
	overflow: auto;
}
.tool, .player {
	height: auto;
	left: 50%;
	bottom: 0;
}
.tool {
	top: 45px;
	bottom: 160px;
}
.player {
	height: 160px;
}
}

.show-foot .main {
	bottom: 45px;
}
.show-foot .foot {
	height: 44px;
}

/*
 * border & color
 */
body {
	color: #333;
	background-color: #ccc;
}
body>*{
	background-color: #fff;
}

/*
 * animation
 */
@-webkit-keyframes
fade-in { 0% { opacity: 0; } 1% { opacity: 0; } }
@-ms-keyframes
fade-in { 0% { opacity: 0; } 1% { opacity: 0; } }
@-moz-keyframes
fade-in { 0% { opacity: 0; } 1% { opacity: 0; } }
@keyframes
fade-in { 0% { opacity: 0; } 1% { opacity: 0; } }
@-webkit-keyframes
fade-out { 0% { height: 100%; opacity: 0.6; } 99% { height: 100%; } }
@-ms-keyframes
fade-out { 0% { height: 100%; opacity: 0.6; } 99% { height: 100%; } }
@-moz-keyframes
fade-out { 0% { height: 100%; opacity: 0.6; } 99% { height: 100%; } }
@keyframes
fade-out { 0% { height: 100%; opacity: 0.6; } 99% { height: 100%; } }
