<!DOCTYPE html>
<html ng-app="app">
<head>
<meta name="viewport" content="width=device-width,minimum-scale=1,maximum-scale=1" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<title>foo_mg_www</title>
<link type="text/css" href="css/theme.css" rel="stylesheet" />
<link type="text/css" href="css/index.css" rel="stylesheet" />
</head>
<body ng-class="[
		tool.show&&'show-tool',
		list.onEdit&&'show-foot',
		setting.folder_view_class||'aa-block-view',
		location.path+'-mode']"
	bw-main bw-main-cache="{{setting.lists_in_cache||4}}"
	pl-ctrl pl-ctrl-next="{{setting.play_single_track?'':1}}"  pl-ctrl-loop="{{setting.play_no_loop?'':1}}"
	ng-controller="main">
<div class="overlay show-list-mode"></div>
<div class="head show-list-mode no-wrap no-overflow anim-all">
	<div class="hide-too-wide absolute absolute-left full-width bold big cursor-hand"
		ng-click="browser.browse(listParentPath)">{{listName}}</div>
	<div class="hide-too-narrow absolute absolute-left no-overflow bg-white">
		<span ng-repeat="(p, n) in listPathSplit">
			<button class="bold big no-overflow no-wrap no-margin text-ellipsis"
				ng-click="browser.browse(p)" ng-class="p!=listPath&&'gray'">{{n}}</button>
			<span class="gray">&gt;</span>
		</span>
	</div>
	<div class="absolute absolute-right bg-white">
		<button class="no-margin" ng-class="tool.show=='nav'&&'bg-gray'" ng-click="tool.toggle('nav')">
			<img height="38px" src="img/ic_action_search.png" />
		</button>
		<button class="no-margin" ng-class="tool.show=='play'&&'bg-gray'" ng-click="tool.toggle('play')">
			<img height="38px" src="img/ic_action_overflow.png" />
		</button>
	</div>
</div>
<ul class="list show-list-mode anim-all" ng-class="[groupCount>3&&'small-sep',onEdit&&'on-edit']"
	bw-list ng-non-bindable ng-show="url==listUrl">
	<div ng-if="word" ng-click="browser.browse(path)">
		<div class="tip cursor-hand fixed full-width">Searching '{{word}}'</div>
		<div class="tip">Searching '{{word}}'</div>
	</div>
	<div class="sep" ng-attr-style="background-image:{{i.aaCssUrl}}" ng-repeat-start="i in ls" ng-if="i.newGroup">
		<a ng-show="setting.img_open_self" ng-href="#/img?url={{i.aaUrl|urlEncode}}"><small class="link">&raquo;</small></a>
		<a ng-hide="setting.img_open_self" target="blank" ng-href="{{i.aaUrl}}"><small class="link">&raquo;</small></a>
		<div class="bg" ng-click="i.path ? browser.browse(i.path) : tool.toggle('res')">
			<big class="stress">{{i.album}}</big> ({{i.album_artist}})
		</div>
	</div>
	<li class="folder" bw-id="{{i.id}}" ng-attr-title="{{i.name}}" ng-if="i.typ=='folder'" ng-click="browser.browse(i.path)">
		<div class="albumart" ng-attr-style="background-image:{{i.aaCssUrl}}"></div>
		<span class="float-right">&gt;</span>
		{{i.shortName}}
		<div class="info">{{i.bracS}} {{i.bracR}}</div>
	</li>
	<li class="track {{i.id==audio.id&&audio.state}}" pl-id="{{i.id}}" ng-repeat-end
		ng-if="i.typ=='track'" ng-click="onEdit ? select.toggle(i.id) : browser.playCurrent(i.id)">
		<span class="num">{{i.num}}</span>
		<span class="duration" ng-click="select.toggle(i.id);$event.stopPropagation()">
			<span class="current">{{audio.current.mmss}}/</span>{{i.length}}<br />
			<div class="check"></div>
		</span>
		{{i.name}}
		<div class="info">&lt;{{i.artist}}&gt;</div>
	</li>
	<div class="loading anim-all anim-in-1s" show-delay="500" ng-hide="ls.length==total">loading ({{ls.length}}/{{total||'?'}})</div>
	<div class="empty" ng-hide="total!=0">No thing here</div>
</ul>
<div class="foot show-list-mode anim-all no-wrap no-overflow">
	<button ng-click="tool.toggle('play')"><img height="36px" src="img/ic_action_accept.png" /></button>
	<button ng-click="select.all()"><img height="36px" src="img/ic_action_select_all.png" /></button>
	<button ng-click="select.toggle()"><img height="36px" src="img/ic_action_refresh.png" /></button>
	<button ng-click="select.clear()"><img height="36px" src="img/ic_action_view_as_grid.png" /></button>
	<button class="float-right" ng-click="select.finish()"><img height="36px" src="img/ic_action_cancel.png" /></button>
</div>
<div class="tool show-list-mode anim-all">
	<h3 class="title no-wrap no-overflow">
		<button ng-class="(!tool.show||tool.show=='play')||'gray'"
			ng-click="tool.toggle('play')">Playlists</button>
		<button ng-class="tool.show=='nav'||'gray'"
			ng-click="tool.toggle('nav')">Search</button>
		<button ng-class="tool.show=='res'||'gray'"
			ng-click="tool.toggle('res')">Resource</button>
		<button ng-class="tool.show=='conf'||'gray'"
			ng-click="tool.toggle('conf')">Settings</button>
	</h3>
	<div class="content" ng-show="!tool.show||tool.show=='play'">
		<p>
			<button ng-hide="list.onEdit" ng-click="select.start();tool.show=false">[ Select ]</button>
			<button ng-show="list.onEdit" ng-click="select.finish();tool.autoHide()">[ Cancel ]</button>
			<span ng-hide="list.onEdit&&!select.length()">
				<button ng-click="browser.save()">[ Save ]</button>
				<span class="no-overflow no-wrap">
					<select class="absolute no-opacity" style="max-width:90px;" ng-model="addToUrl" ng-change="browser.addTo()">
						<option></option>
						<option ng-repeat="(u, n) in playlists" ng-value="u" ng-if="n">{{n}}</option>
					</select>
					<button>[ AddTo ]</button>
				</span>
			</span>
		</p>
		<ul ng-init="playlists=conf.local_store_dict('playlists@')">
			<!-- Note: neither ng-class nor ng-show works with ng-repeat -->
			<li ng-repeat="(u, n) in playlists" class="playlist {{u==listUrl&&'bold'}} {{u==playUrl&&'play'}}">
				<form ng-show="n.length||f" action="javascript:$('button:first').focus()">
					<input auto-select local-store="playlists@{{u}}" local-store-init="n"
						pl-url="{{u}}" ng-focus='f=1' ng-blur='f=0' ng-model="playlists[u]" />
					<a ng-href="#list?url={{u|urlEncode}}">{{n}}</a>
				</form>
			</li>
		</ul>
	</div>
	<div class="content" ng-show="tool.show=='nav'">
		<form action="javascript:void(null)" ng-submit="browser.search()">
			<div class="search">
				<input type="text" name="word" ng-model="search.word" /><input type="submit" value="Search" /><br />
			</div>
			<input  id="sf_fo" type="checkbox" ng-model="search.fields.folder" />
			<label for="sf_fo">Folder</label>
			<input  id="sf_al" type="checkbox" ng-model="search.fields.album" />
			<label for="sf_al">Album</label>
			<input  id="sf_ar" type="checkbox" ng-model="search.fields.artist" />
			<label for="sf_ar">Artist</label>
			<input  id="sf_ti" type="checkbox" ng-model="search.fields.title" />
			<label for="sf_ti">Title</label>
			<br />
			<input  id="sf_op" type="checkbox" ng-model="search.onpath" />
			<label for="sf_op">Search under current folder</label>
		</form>
		<h4>Go to</h4>
		<p>
			<button ng-click="browser.browse(listParentPath)">[ parent ]</button>
			<button ng-click="browser.open(playUrl)">[ playing ]</button>
		</p>
		<p>
			<button ng-click="browser.reload()">[ reload list ]</button>
			<button onclick="location.reload()">[ reload page ]</button>
		</p>
	</div>
	<div class="content" ng-show="tool.show=='res'">
		<div class="gray" ng-hide="list.resList.length">No Resource Here</div>
		<ul>
			<li ng-repeat="i in list.resList" ng-switch on="i.typ">
				<div ng-switch-when="img">
					<a ng-show="setting.img_open_self" ng-href="#/img?url={{i.url|urlEncode}}">{{i.name}}</a>
					<a ng-hide="setting.img_open_self" target="blank" ng-href="{{i.url}}">{{i.name}}</a>
				</div>
				<div ng-switch-when="txt">
					<a ng-show="setting.txt_open_self" href="javascript:void(null)" ng-click="tool.showTxt(i.name, i.url)">{{i.name}}</a>
					<a ng-hide="setting.txt_open_self" target="blank" ng-href="{{i.url}}">{{i.name}}</a>
				</div>
				<a ng-switch-default target="blank" ng-href="{{i.url}}">{{i.name}}</a>
			</li>
		</ul>
	</div>
	<div class="content" ng-show="tool.show=='txt'">
		<h4>{{tool.showTxt.title}}</h4>
		<pre>{{tool.showTxt.text}}</pre>
	</div>
	<div class="content" ng-show="tool.show=='conf'">
		<h4>Folder Setting</h4>
		<div class="field" ng-init="setting.list_sort=conf.local_store_dict('setting.sort@')">sort current folder:
			<select local-store="setting.sort@{{listUrl}}" ng-model="setting.list_sort[listUrl]" ng-change="browser.reload()">
				<option value="">with none</option>
				<option value="folder">by name</option>
				<option value="folder_desc">by name reverse</option>
				<option value="date">from latest</option>
				<option value="date_desc">from oldest</option>
			</select>
		</div>
		<h4>Play Setting</h4>
		<div class="field">play mode:
			<select local-store ng-model="setting.play_no_loop">
				<option value="">repeat</option>
				<option value="yes">norepeat</option>
			</select>
			<select local-store ng-model="setting.play_single_track">
				<option value="">list</option>
				<option value="yes">track</option>
			</select>
		</div>
		<div class="field">transcoding:
			<select local-store ng-model="setting.music_format_support">
				<option value="">auto</option>
				<option value="mp3">mp3</option>
				<option value="wav">wav</option>
				<option value="force,mp3">force mp3</option>
				<option value="force,wav">force wav</option>
			</select>
		</div>
		<h4>Global Setting</h4>
		<div class="field hidden">number of cached lists:
			<select local-store ng-model="setting.lists_in_cache">
				<option value="2">2</option>
				<option value="">4</option>
				<option value="8">8</option>
			</select>
		</div>
		<div class="field">display folders with:
			<select local-store ng-model="setting.folder_view_class">
				<option value="aa-none">no albumart</option>
				<option value="aa-list-view">small albumart</option>
				<option value="">big albumart</option>
			</select>
		</div>
		<div class="field">show images in:
			<select local-store ng-model="setting.img_open_self">
				<option value="">a new window</option>
				<option value="yes">current window</option>
			</select>
		</div>
		<div class="field">show text in:
			<select local-store ng-model="setting.txt_open_self">
				<option value="">a new window</option>
				<option value="yes">current window</option>
			</select>
		</div>
	</div>
</div>
<div class="player show-list-mode anim-all">
	<div class="ctrl" ng-hide="player.show">
		<div class="albumart cursor-hand" ng-click="player.show='lrc'">
			<div ng-attr-style="background-image:{{audio.aaCssUrl}}">
				<button class="float-right gray" ng-show="audio.lyric">lrc</button>
			</div>
		</div>
		<div class="buttonbar">
			<button ng-click="player.playnext(-1, true)">[ &laquo; ]</button>
			<button ng-click="player.play()" ng-dblclick="player.playnext(0)" ng-hide="audio.state=='play'">[ &gt; ]</button>
			<button ng-click="player.pause()" ng-dblclick="player.playnext(0)" ng-show="audio.state=='play'">[ || ]</button>
			<button ng-click="player.playnext(1, true)">[ &raquo; ]</button>
		</div>
		<div class="cursor-hand" ng-show="audio.id" ng-click="browser.open(playUrl)">
			<big>{{audio.info.artist}} - {{audio.info.name}}</big>
			<span ng-show="audio.state=='play'">[{{audio.current.mmss}}/{{audio.info.length}}]</span>
			<span ng-hide="audio.state=='play'">[{{audio.state}}]</span>
			<div class="info"><small>{{audio.info.album}} [{{audio.info.num}}]</small></div>
		</div>
		<big ng-hide="audio.id">Ready to play</big>
	</div>
	<!-- set offset for animation -->
	<div class="lyric cursor-hand" ng-show="player.show=='lrc'" ng-click="player.show=''"
		pl-lyric="audio[pl-audio]" pl-lyric-bind="audio.lyric" pl-lyric-offset="0.8"
		pl-lyric-load="lyric.load(info, content)" pl-lyric-update="lyric.update(info, i, content[i])">
		<p class="gray" ng-hide="audio.lyric"><br />No lyric for this track</p>
		<img class="absolute anim-all anim-in-1s" style="left:0" ng-show="lyric.info.bkimg"
			ng-src="{{lyric.info.bkimg&&conf.res_url(lyric.info.bkimg, undefined, audio.info.path)}}" />
		<div class="text absolute anim-all anim-in-1s full-width">
			<div class="line anim-all" lrc-id="{{$index}}" ng-class="$index==lyric.current.index&&'active'"
				ng-repeat="i in lyric.content" ng-if="i.d.substr">{{i.d}}</div>
		</div>
	</div>
	<audio pl-audio></audio>
	<input type="hidden" local-store ng-model="audio.id" />
	<input type="hidden" local-store ng-model="playUrl" />
	<input type="hidden" local-store ng-model="player.playlist" />
	<!--canvas class="analyser" width="120" height="30" pl-analyser="audio[pl-audio]"></canvas-->
	<a class="processbar cursor-hand anim-all" ng-show="audio.id" ng-mousemove="player.getHoverPosition($event)"
		ng-mouseout="player.hoverMmss=''" ng-click="player.seek(player.hoverSec);player.play()">
		<span class="text">{{player.hoverMmss}}</span>
		<div class="bar" ng-style="{width:audio.current.sec/audio.length*100+'%'}"></div>
	</a>
</div>
<div class="img show-img-mode">
	<a class="absolute gray" ng-href="mklrc.html#/img?url={{imgUrl|urlEncode}}">mklrc</a>
	<img ng-src="{{imgUrl}}" />
</div>
<script src="js/jquery-1.8.0.min.js"></script>
<script src="js/jq.util.js"></script>
<script src="js/angular.min.js"></script>
<script src="js/index.js"></script>
</body>
</html>
