<!doctype html>
<html ng-app="app" ng-controller="main">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link type="text/css" href="lib/bootstrap/bootstrap.min.css" rel="stylesheet" />
<link type="text/css" href="theme.css" rel="stylesheet" />
<meta name="mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-capable" content="yes">
<link rel="icon" sizes="96x96" href="img/launcher-icon-2x.png">
<link rel="apple-touch-startup-image" href="img/launcher-icon-2x.png">
<title ng-bind="route.title || list.title || 'FooMG'">FooMG</title>
<script src="lib/jquery/jquery-2.1.1.min.js"></script>
<script src="lib/angular/angular.min.js"></script>
<script src="lib/angular/angular-route.js"></script>
<script src="lib/angular/angular-animate.js"></script>
<script src="lib/bootstrap/bootstrap.min.js"></script>
</head>
<body cache-scroll-position>
<nav class="navbar navbar-default navbar-fixed-top">
	<div class="container">
		<!-- header -->
		<div class="navbar-header title visible-xs-block" ng-hide="route.search">
			<a href class="navbar-brand pull-right" ng-click="route.search = true" ng-hide="route.tool">
				<span class="glyphicon glyphicon-search" style="font-size:120%"></span>
			</a>
			<a href class="navbar-brand text" ng-click="route.tool = !route.tool">
				<span class="icon glyphicon glyphicon-align-justify anim anim-transform"
					ng-class="route.tool && 'active'"></span>
				{{ route.title || list.title || 'FooMG' }}
			</a>
		</div>
		<!-- search -->
		<div class="navbar-header search visible-xs-block ng-hide" ng-show="route.search" ng-cloak>
			<a href class="navbar-brand back" ng-click="route.search = false">
				<span class="glyphicon glyphicon-chevron-left"></span>
			</a>
			<form class="navbar-form"
				on-focus-out="route.search = false"
				ng-submit="browse({ path:list.path, word:search.text||undefined })">
				<div class="form-group">
					<input type="text" class="form-control" focus-me="route.search"
						ng-model="search.text" placeholder="Find Folders or Tracks" />
				</div>
			</form>
		</div>
		<!-- navbars for large view -->
		<div class="navbar-header hidden-xs">
			<a class="navbar-brand text-overflow" href>FooMG</a>
		</div>
		<div class="collapse navbar-collapse">
			<ul class="nav navbar-nav">
				<li class="dropdown">
					<a href class="dropdown-toggle" data-toggle="dropdown">
						Browse
						<span class="caret"></span>
					</a>
					<ul class="dropdown-menu">
						<li><a href="#/list/">
							<span class="glyphicon glyphicon-hdd"></span> Root</a></li>
						<li ng-show="list.parentPath"><a href="#/list/{{list.parentPath}}">
							<span class="glyphicon glyphicon-open"></span> Parent Dir</a></li>
						<li><a href ng-click="browse(player.params)">
							<span class="glyphicon glyphicon-play-circle"></span> Playing</a></li>
					</ul>
				</li>
				<li class="dropdown">
					<a href class="dropdown-toggle" data-toggle="dropdown">
						Play
						<span class="caret"></span>
					</a>
					<ul class="dropdown-menu">
						<li><a href ng-click="player.isPaused() ? player.play() : player.pause()">
							<span class="glyphicon"
								ng-class="player.isPaused() ? 'glyphicon-play' : 'glyphicon-pause'"></span>
							Play/Pause</a></li>
						<li><a href ng-click="player.play(0, 1)">
							<span class="glyphicon glyphicon-fast-forward"></span> Play Next</a></li>
						<li><a href ng-click="player.play(0,-1)">
							<span class="glyphicon glyphicon-fast-backward"></span> Play Prev</a></li>
						<li class="divider"></li>
						<li>
							<a href ng-click="config.playNext = !config.playNext">
								<span ng-show="config.playNext">
									<span class="glyphicon glyphicon-sort-by-attributes-alt"></span>
									Playing Through List
								</span>
								<span ng-hide="config.playNext">
									<span class="glyphicon glyphicon-sort-by-attributes-alt" style="opacity:0.2">
									</span>
									Playing Single Track
								</span>
							</a>
						</li>
						<li>
							<a href ng-click="config.playLoop = !config.playLoop">
								<span ng-show="config.playLoop">
									<span class="glyphicon glyphicon-repeat"></span>
									Playing Loop
								</span>
								<span ng-hide="config.playLoop">
									<span class="glyphicon glyphicon-repeat" style="opacity:0.2"></span>
									Playing No Loop
								</span>
							</a>
						</li>
					</ul>
				</li>
				<li ng-class="{ active:route.path=='/playlists' }">
					<a href="#/playlists">Playlists</a>
				</li>
				<li ng-class="{ active:route.path=='/help' }">
					<a href="#/help">Help</a>
				</li>
			</ul>
			<form class="navbar-form navbar-right"
				ng-submit="browse({ path:list.path, word:search.text||undefined })">
				<div class="form-group">
					<div class="input-group">
						<input type="text" class="form-control"
							ng-model="search.text" placeholder="Find Folders or Tracks" />
						<div class="input-group-btn">
							<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
								Go <span class="caret"></span>
							</button>
							<ul class="dropdown-menu">
								<li><a href ng-click="browse({ path:list.path, word:search.text||undefined })">
									Search This Folder
									</a></li>
								<li><a href ng-click="browse({ path:'', word:search.text||undefined })">
									Search Root
									</a></li>
							</ul>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
</nav>
<div class="container">
	<div class="row">
		<div class="col-sm-3 tool" ng-class="{ show:route.tool }">
			<div class="mask" on-touch-start="route.tool=false" ng-click="route.tool=false"></div>
			<div class="affix side anim anim-transform" fit-parent-width>
				<div class="part player" include-template="tmplSidePlayer"
					ng-attr-style="background-image:{{
						getResUrl({ id:player.playing.id||-1, res:'albumart' }) | toBgImgCss }}"></div>
				<div class="part folderinfo" ng-if="list" include-template="tmplSideFolder"></div>
				<div class="part resource" ng-if="list.res.length"
					include-template="tmplSideResource"></div>
				<div class="part links visible-xs-block">
					<h4>
						<strong>Extra Views</strong>
					</h4>
					<p><a href="#/playlists">Playlists</a></p>
					<p><a href="#/help">Help</a></p>
					<p> </p>
				</div>
				<div style="height:50px;">
					<!-- A Piece of Cake to Show the hidden items -->
				</div>
			</div>
		</div>
		<div class="col-sm-9 main anim-opacity anim-in-200ms" ng-view></div>
	</div>
</div>
<template id="tmplSidePlayer" ng-non-bindable>
	<input type="hidden" local-storage ng-model="player.pid" />
	<input type="hidden" local-storage ng-model="player.params" />
	<div class="ctrl row" ng-hide="player.conf">
		<div class="col-xs-12">
			<span class="button small glyphicon glyphicon-cog pull-right"
				ng-click="player.conf = !player.conf"></span>
		</div>
		<div class="col-xs-4 button-col">
			<span class="button anim anim-opacity glyphicon glyphicon-backward"
				ng-click="player.play(0, -1)">
			</span>
		</div>
		<div class="col-xs-4 button-col" ng-show="player.isPaused()">
			<span class="button anim anim-opacity large glyphicon glyphicon-play"
				ng-click="player.play()">
			</span>
		</div>
		<div class="col-xs-4 button-col" ng-hide="player.isPaused()">
			<span class="button anim anim-opacity large glyphicon glyphicon-pause"
				ng-click="player.pause()">
			</span>
		</div>
		<div class="col-xs-4 button-col">
			<span class="button anim anim-opacity glyphicon glyphicon-forward"
				ng-click="player.play(0, 1)">
			</span>
		</div>
	</div>
	<div class="ctrl conf row" ng-show="player.conf" on-focus-out="player.conf = false">
		<div class="col-xs-12">
			<span class="button small glyphicon glyphicon-remove pull-right"
				ng-click="player.conf = !player.conf"></span>
		</div>
		<div class="col-xs-12 config">
			<span tabindex="-1" class="cursor-pointer" ng-click="player.volume = player.volume ? 0 : 100">
				Volume: {{ player.volume }}%
			</span>
			<div class="volume">
				<input class="cursor-pointer" type="range" min="0" max="100"
					title="volume"
					focus-me="player.conf"
					local-storage local-storage-initial-value="100"
					ng-model="player.volume" />
				<div class="vbar">
					<div class="bar" ng-style="{ 'padding-left':player.volume+'%' }">
						<div class="core"></div>
					</div>
				</div>
			</div>
			<p></p>
			<p>
				<input type="checkbox" ng-model="config.playNext"
					local-storage local-storage-initial-value="true" />
				<span tabindex="-1" class="cursor-pointer"
					ng-click="config.playNext = !config.playNext">Playing Through</span>
			</p>
			<p>
				<input type="checkbox" ng-model="config.playLoop"
					local-storage local-storage-initial-value="true" />
				<span tabindex="-1" class="cursor-pointer"
					ng-click="config.playLoop = !config.playLoop">Playing Loop</span>
			</p>
		</div>
	</div>
	<div class="info">
		<h5 class="primary">
			<a href ng-click="browse(player.params);route.tool=false">{{ player.playing.name }}</a>
			<small>&lt; {{ player.playing.artist || 'Ready to Play' }} &gt;</small>
		</h5>
		<small class="time">
			[ {{ player.hover.mmss || (player.status == 'play' ?
				player.time.mmss : player.status) }}/{{ player.playing.length }} ]
		</small>
		<h5 class="sub" style="margin-right:70px;">
			<small class="album">{{ player.playing.album }} - {{ player.playing.num }}</small>
		</h5>
	</div>
	<a href class="processbar anim anim-height"
		ng-mousemove="player.hover = getHoverSeconds($event)"
		ng-mouseout="player.hover = { }"
		ng-click="player.time(player.hover.seconds)">
		<div class="bar"
			ng-style="{ width:player.time.seconds*100/player.playing.seconds+'%' }">
		</div>
	</a>
</template>
<template id="tmplSideFolder" ng-non-bindable>
	<h4>
		<strong>Folder Infomation</strong>
	</h4>
	<p>
		<span class="cursor-pointer" ng-click="list.reload();route.tool=false" title="Click to Reload">
			<span class="cursor-pointer glyphicon glyphicon-refresh"></span>
			{{ list.items.total }} {{ list.items.total > 1 ? 'Items' : 'Item' }}
			<span ng-show="list.items.groupCount">
				({{ list.items.groupCount }}<span ng-hide="list.items.length == list.items.total">+</span>
				{{ list.items.groupCount > 1 ? 'Albums' : 'Album' }})
			</span>
		</span>
	</p>
	<p ng-init="sortOptionText={
		$			:'Sort By Default',
		$folder		:'Sort By Name',
		$folder_desc:'Sort By Name Reverse',
		$date 		:'Show Latest First',
		$date_desc	:'Show Oldest First'
	}">
		<span class="sort-option" title="Click to Sort">
			<select class="cursor-pointer" ng-model="config.sort[list.params]"
				ng-change="list.reload();route.tool=false">
				<option value="">Sort by Default</option>
				<option value="folder">Sort by Name</option>
				<option value="folder_desc">by Name Reverse</option>
				<option value="date">Show Latest First</option>
				<option value="date_desc">Show Oldest First</option>
			</select>
			<span class="glyphicon glyphicon-sort">
			</span>
			{{ sortOptionText[ '$'+config.sort[list.params] ] }}
		</span>
	</p>
	<p ng-if="list.items.groupCount > 1">
		<label class="normal cursor-pointer">
			<input type="checkbox" ng-model="config.hideSep[list.params]"
				ng-true-value="'true'" ng-false-value="''" />
			Hide Album Seperators
		</label>
	</p>
	<p ng-if="list.info.roundBrackets+list.info.squreBrackets">
		<strong ng-repeat="word in list.info.squreBrackets">
			<a ng-href="#{{:: getListUrl({ word:word }) }}">{{ word }}</a>
		</strong>
		<span ng-repeat="word in list.info.roundBrackets">
			<a ng-href="#{{:: getListUrl({ word:word }) }}">{{ word }}</a>
		</span>
	</p>
</template>
<template id="tmplSideResource" ng-non-bindable>
	<h4>
		<strong>Resource in this Folder</strong>
	</h4>
	<p ng-repeat="item in list.res">
		<a target="_blank" ng-href="{{:: getResUrl({ path:list.path, res:item }) }}">
			{{:: item }}
		</a>
	</p>
	<p></p>
	<p></p>
</template>
<template id="tmplListSepTool" ng-non-bindable>
	<button class="btn btn-default" ng-hide="items.select" style="min-width:70px"
		ng-click="player.loadAndPlay(params, item.id)">Play</button>
	<button class="btn btn-default" ng-hide="items.select" style="min-width:70px"
		ng-click="items.select = { step:1 }">Select</button>
	<div class="btn-group" ng-if="items.select.step == 1"
		ng-show="(items.selectLength = getSelectedLength()) || 1">
		<button type="button" class="btn btn-default"
			ng-click="items.select.source=items.selectLength?'selected':'all';items.select.step=2">
			{{ items.selectLength ? 'Selected' : 'All Items' }}
		</button>
		<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
			<span class="caret"></span>
			<span class="sr-only">Toggle Dropdown</span>
		</button>
		<ul class="dropdown-menu" role="menu">
			<li ng-show="items.selectLength">
				<a href ng-click="items.select.source='unselected';items.select.step=2">Unselected</a>
			</li>
			<li><a href ng-click="items.select = updatePlaylist()">Cancel</a></li>
		</ul>
	</div>
	<div class="btn-group" ng-if="items.select.step == 2">
		<button type="button" class="btn btn-default"
			ng-click="items.select.target='$new';items.select=updatePlaylist(items.select)">
			To New Playlist
		</button>
		<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
			<span class="caret"></span>
			<span class="sr-only">Toggle Dropdown</span>
		</button>
		<ul class="dropdown-menu" role="menu">
			<li ng-repeat="(params, name) in playlists" ng-if="name">
				<a href ng-click="items.select.target=params;items.select=updatePlaylist(items.select)">
					To "{{:: name }}"
				</a>
			</li>
			<li><a href ng-click="items.select = updatePlaylist()">Cancel</a></li>
		</ul>
	</div>
</template>
<template id="tmplList" ng-non-bindable>
	<input type="hidden" local-storage="sort.{{params}}" ng-model="config.sort[params]" />
	<input type="hidden" local-storage="hideSep.{{params}}" ng-model="config.hideSep[params]" />
	<p></p>
	<ol class="dir breadcrumb hidden-xs">
		<li ng-repeat="dir in dirs" title="{{:: dir.name }}">
			<a href ng-click="browse({ path:dir.path })" ng-hide="dir.path == path">
				{{:: dir.shortName }}
			</a>
			<span ng-show="dir.path == path">{{:: dir.shortName }}</span>
		</li>
	</ol>
	<form class="form-inline form-search" ng-if="search.word !== undefined"
		ng-submit="search.word=search.word||undefined;browse(search)">
		<div class="form-group">
			<label class="sr-only">Search Text</label>
			<input type="text" class="form-control" placeholder="Search" ng-model="search.word" />
		</div>
		<div class="form-group">
			<label class="sr-only">Search Dir</label>
			<select class="form-control search-opt" ng-model="search.path"
				ng-change="search.word=search.word||undefined;browse(search)"
				ng-options="dir.path as dir.name for dir in dirs"></select>
			<select class="form-control search-opt" ng-model="search.fields"
				ng-change="search.word=search.word||undefined;browse(search)"
				ng-options="field as name for (name, field) in
					{ Any:undefined, Folders:'folder', Tracks:'album,artist,title',
						Album:'album', Artist:'artist', Title:'title' }"></select>
			<button type="submit" class="btn btn-primary">Search</button>
		</div>
		<p></p>
	</form>
	<p ng-if="config.hideSep[params]" include-template="tmplListSepTool">
	</p>
	<ul class="list" ng-class="{ nosep:config.hideSep[params], selecting:items.select }">
		<li class="sep" ng-repeat-start="item in items" ng-if="item.group && !config.hideSep[params]">
			<div class="albumart"
				ng-attr-style="background-image:{{:: getResUrl({ id:item.id, res:'albumart', s:'small' }) | toBgImgCss }}">
			</div>
			<div class="title">
				<h4 class="primary">{{:: item.album }}</h4>
				<p class="sub">
					&lt; {{:: item.album_artist }} &gt;
					{{ item.count }} {{ item.count > 1 ? 'tracks' : 'track' }}
					<a href ng-if="item.path" ng-click="browse({ path:item.path })">View</a>
				</p>
				<p include-template="tmplListSepTool">
				</p>
			</div>
		</li>
		<li class="folder" ng-if="item.typ=='folder'">
			<a href class="albumart" ng-click="browse({ path:item.path })"
				ng-attr-style="background-image:{{::
					getResUrl({ path:item.path, res:'albumart', s:'small' }) | toBgImgCss }}"></a>
			<div class="title">
				<h4 class="primary">
					<a href ng-click="browse({ path:item.path })">{{:: item.shortName }}</a>
				</h4>
				<p class="sub">{{:: item.sbracketsJoin }} {{:: item.bracketsJoin }}</p>
			</div>
		</li>
		<li class="track" ng-repeat-end ng-if="item.typ=='track'"
			ng-click="items.select && (item.selected = !item.selected)"
			ng-class="{ playing:item.id == player.playing.id, selected:item.selected }">
			<span class="length">
				<span ng-if="item.id == player.playing.id" class="visible-xs-inline">
					{{ player.status == 'play' ? player.time.mmss : player.status }} /
				</span>
				{{:: item.length }}
				<span class="show-selecting select-check">
					<input type="checkbox" ng-model="item.selected" ng-click="$event.stopPropagation()" />
				</span>
			</span>
			<span class="num">{{:: item.num }}</span>
			<span class="title">
				<a href ng-click="item.id == player.playing.id ?
					player.playPause() : player.loadAndPlay(params, item.id)">{{:: item.name }}</a>
			</span>
			<span class="artist">
				&lt;
				<span class="album">
					<span ng-hide="item.path">{{:: item.album }}</span>
					<a ng-show="item.path" href ng-click="browse({ path:item.path })">{{:: item.album }}</a>
					-
				</span>
				{{:: item.artist }}
				&gt;
			</span>
		</li>
	</ul>
	<p class="text-center" ng-show="items.total === 0">Nothing Here</p>
	<p class="text-center loading anim anim-opacity anim-in-1s" style="clear:both" show-delay
		on-scroll-and-seen="loadMore()" ng-hide="items.length >= items.total">
		loading {{ items.total>=0 ? '('+items.length+'/'+items.total+')' : '...' }}</span>
	</p>
</template>
<template id="tmplPlaylists" ng-non-bindable>
	<h3 ng-init="route.title='Playlists'">Local Playlists</h3>
	<ul class="playlists">
		<li ng-repeat="(params, name) in playlists" ng-show="playlists[params]">
			<form class="playlist-form form-inline" ng-submit="editing = false"
				on-focus-out="editing = false" ng-show="editing">
				<div class="form-group">
					<div class="input-group">
						<input type="text" class="form-control"
							focus-me="editing"
							ng-model="playlists[params]"
							ng-model-options="{ updateOn:'blur' }"
							local-storage="playlist:{{params}}" local-storage-save-only />
						<div class="input-group-btn">
							<button class="btn btn-danger" type="button" ng-click="playlists[params] = null">
								<span class="glyphicon glyphicon-trash"></span>
							</button>
						</div>
					</div>
				</div>
			</form>
			<h4 class="primary" ng-style="{ visibility:editing ? 'hidden' : 'visible' }">
				<a href ng-click="browse(params)">{{ name }}</a>
				<small>
					<span class="glyphicon glyphicon-pencil cursor-pointer" ng-click="editing = true"></span>
				</small>
			</h4>
			<p class="sub" ng-init="data = paramsSplit(params)">
				<span ng-if="data.tlist">[{{:: data.tlist.split(',').length }} items]</span>
				<span ng-if="data.word">"{{:: data.word }}"</span>
				{{:: data.path }}
			</p>
		</li>
	</ul>
	<p ng-if="getPlaylistsCount() == 0">
		You don't have any playlist yet.<br />
		<a href ng-click="browse(list.params)">Browse and select items to create one!</a>
	</p>
</template>
<template id="tmplHelp" ng-non-bindable>
	<h3 ng-init="route.title='Help'">FooMG Help</h3>
	<p>Have any Problems?</p>
	<p><a href onclick="location.reload()">Reload Page</a></p>
	<p><a href onclick="localStorage.clear();location.reload()">Reset Config</a></p>
</template>
<script src="app.js"></script>
</body>
</html>
