* { -webkit-tap-highlight-color: rgba(128, 128, 128, 0.5);
	font-family: 'WenQuanYi Micro Hei Mono', 'WenQuanYi Micro Hei', 'Microsoft Yahei Mono', 'Microsoft Yahei', sans-serif; }
html { height: 100%; }
body, ul { margin: 0; padding: 0 }

ul { list-style: none; }
button { background-color: transparent; border: none; cursor: pointer; font-size: 100%; }
a { color: #333; text-decoration: none; }
a:hover { text-decoration: underline; }

.absolute { position: absolute; }
.full-width { width: 100%; }
.inline-block { display: inline-block; }
.no-wrap { white-space: nowrap; }
.no-overflow { overflow: hidden; }
.no-opacity { opacity: 0; }
.float-left { float: left; }
.float-right { float: right; }
.text-center { text-align: center; }
.text-ellipsis { text-overflow: ellipsis; }
.bold { font-weight: bold; }
.gray { color: gray; }

@-ms-viewport {
	width: device-width;
}

/*
 * layout
 */
.head { position: absolute; z-index: 3;
	left: 0; right: 0; top: 0; height: 44px; line-height: 44px;
	-webkit-transition: top .4s ease; -moz-transition: top .4s ease;
	-ms-transition: top .4s ease; transition: top .4s ease; }
.list { position: absolute; z-index: 1; overflow-x: hidden; overflow-y: auto;
	left: 0; right: 0; top: 45px; bottom: 0;
	-webkit-transition: bottom,opacity .4s ease; -moz-transition: bottom,opacity .4s ease;
	-ms-transition: bottom,opacity .4s ease; transition: bottom,opacity .4s ease; }
.tool { position: absolute; z-index: 3; overflow: auto;
	left: 0; right: 0; top: 0; height: 0; /*-- initial hidden --*/
	-webkit-transition: height .4s ease; -moz-transition: height .4s ease;
	-ms-transition: height .4s ease; transition: height .4s ease; }
.player { position: absolute; z-index: 2; overflow: hidden;
	left: 0; right: 0; bottom: 0; height: 0; /*-- initial hidden --*/
	-webkit-transition: height .4s ease; -moz-transition: height .4s ease;
	-ms-transition: height .4s ease; transition: height .4s ease; }

@media only screen and (max-width: 620px) {
.show-tool .head { top: 320px; border-top: 1px solid #ccc; }
.show-tool .tool { height: 320px; }
.show-tool .player { height: 90px; }
}
@media only screen and (min-width: 621px) {
.list { width: 50%; right: auto; }
.tool, .player { height: auto; left: 50%; bottom: 0; }
.tool { top: 45px; bottom: 160px; }
.player { height: 160px; }
}

/*
 * border & color
 */
body { color: #333; background-color: #aaa; }
.head, .player, .list, .tool { background-color: #fff; }
@media only screen and (max-width: 620px) {
.show-tool .tool { border-bottom: 1px solid #ccc; }
/*.show-tool .list { opacity: 0.8; }*/
.show-tool .player { border-top: 1px solid #ccc; }
}
.head { border-bottom: 1px solid #ccc; }

/*
 * margin & font
 */
.head button, .foot button { line-height: 44px; margin: 0; padding: 0 1.4em; font-weight: bold; font-size: 105%; }
.head { white-space: nowrap; }

/*
 * section list
 */
.list { -ms-user-select: none; -webkit-user-select: none; }
.list li { border-bottom: 1px solid #ddd; padding: 0.6em 0.2em; margin: 0 12px; cursor: pointer; }
.list .sep { margin: 0; padding: 0; color: #fff; background-color: #bbb; text-shadow: #555 1px 1px 2px;
	background-position: 0 20%; background-size: cover; }
.list .loading, .list .empty { color: #999; margin-top: 1em; margin-bottom: 1em; text-align: center; }
